{% set options = (craft.getWabiDefaultSettings.components['post-meta'])|merge(options|default({})) %}
{% set tags = tags is defined ? tags : false %}
{% set profile = profile is defined ? profile : false %}
{% set date = date is defined ? date : false %}

<div class="{{ craft.wabiClasses.components('container', options) }}">
    {% if options.profile and profile %}
    <div>
        {% block profile %}
            {{ wabiComponents({path: 'post-meta/profile.twig', content: profile, options}) }}
        {% endblock %}
    </div>
    {% endif %}
    {% if options.date and date %}
    <div>
        {% block date %}
            {{ wabiComponents({path: 'post-meta/date.twig', content: date, options}) }}
        {% endblock %}
    </div>
    {% endif %}

    {% if options.tags and tags %}
    <div>
        {% block tags %}
            {{ wabiComponents({path: 'post-meta/tags.twig', content: tags, options}) }}
        {% endblock %}
    </div>
    {% endif %}
</div>
