{% apply spaceless %}
{% set options = craft.getWabiDefaultSettings.componentByName('post-meta')|merge(options|default({})) %}
{% if content | length %}
<div class="{{ craft.wabiClasses.components('tags-container', options) }}">
    <strong class="{{ craft.wabiClasses.components('tags-label', options) }}">Tags:</strong>
    <ul class="flex gap-2">
    {% for tag in content %}
        {{ wabiComponents({path: 'post-meta/tag.twig', content: tag, options}) }}
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endapply %}
