{% set links = [
    { title: 'Template Path', url: '?show-template-path' },
    { title: 'Template Hierarchy', url: '?show-template-hierarchy' },
    { title: 'Off', url:craft.app.request.pathInfo }
] %}
<div class="group fixed bottom-1 right-1 z-[99999]">
    <span class="block w-4 h-4 rounded-full bg-black/10 group-hover:hidden"></span>
    <ul class="bg-black/80 rounded py-4 px-6 text-sm font-bold antialiased text-white hidden group-hover:block">
        {% for item in links %}
            <li><a class="block py-1 opacity-80 hover:opacity-100" href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>
