{% set options = (craft.getWabiDefaultSettings.components['notice'])|merge(options|default({})) %}
{% set class = craft.wabiClasses.components('button', options) %}
<button
        type="button"
        @click="handleHide"
        class="{{ class }}"
        aria-label="Dismiss">
    {% if options.button.icon %}
    {{ wabiComponents({path: 'notice/icon.twig', options}) }}
    {% endif %}
    {% if options.button.label %}
    <span>
        {{ options.button.label }}
    </span>
    {% endif %}
</button>
