{% set options = (craft.getWabiDefaultSettings.components['notice'])|merge(options|default({})) %}
{% set class = craft.wabiClasses.components('button', options) %}

<button
        type="button"
        @click="handleHide"
        class="{{ class }}"
        aria-label="Dismiss">
        {{ options.button.label }}
</button>
