{% set options = craft.getWabiDefaultSettings.componentByName('notice')|merge(options|default({})) %}

{% set class = craft.wabiClasses.components('button', options) %}
<button
        type="button"
        @click="handleHide"
        class="{{ class }}"
        aria-label="Dismiss">
    {{ wabiComponents({path: 'notice/icon.twig', options}) }}
    {% if options.button.label %}
    <span>
        {{ options.button.label }}
    </span>
    {% endif %}
</button>
