{% set key = key|replace({'-': ''})|trim %}
{% set isHidden = craft.wabiCookie.getBool(key, false) %}
{% set render = isHidden ? 0 : 1 %}

{% if render %}
{#
@link: https://releasecandidate.dev/posts/2021/how-to-use-cookies-with-alpinejs/
#}
    {% set options = craft.getWabiDefaultSettings.componentByName('notice')|merge(options|default({})) %}
    {% do view.registerAssetBundle("wabisoft\\components\\assetbundles\\Notice") %}
    {% do view.registerAssetBundle("wabisoft\\components\\assetbundles\\Shared") %}
    <div class="{{ craft.wabiClasses.components('container', options) }}"
         x-data="WabiNotice($el)"
         :class="hidden === true ? 'notice--hiding' : ''"
        data-key="{{ key }}">
        <div :class="hidden === true ? 'notice--hiding' : ''">
            {% block inner %}
                {{ wabiComponents({
                    path: 'notice/inner.twig',
                    content,
                    options,
                    key })
                }}
            {% endblock %}
        </div>
    </div>

{% endif %}
