{% do view.registerAssetBundle("wabisoft\\components\\assetbundles\\Carousel") %}
<div class="swiper" x-data="Carousel($el)">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper my-16">
        <!-- Slides -->
        {% for cell in cells %}
            <div class="w-[528px] swiper-slide">
                {{ cell }}
            </div>
        {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    {#    <div class="swiper-scrollbar"></div>#}
</div>


<script>
  function Carousel($el) {
    return {
      el: $el,
      init() {
        new Swiper(this.el, {
          slidesPerView: 'auto',
          allowTouchMove: true,
          simulateTouch: true,
          threshold: 7, // px value before scroll https://swiperjs.com/swiper-api#param-threshold
          watchSlidesProgress: true,
          watchSlidesVisibility: true,
          spaceBetween: 20,
          slidesPerGroupAuto: true,
        })
      }
    }
  }
</script>
