{% set options = craft.getWabiDefaultSettings.components['post-meta']|merge(options|default({})) %}
{% set profile = profile is defined ? profile : false %}


{% if profile %}
    {% set image = profile.image is defined ? profile.image : false %}
    {% set name = profile.name is defined ? profile.name : false %}
    <div class="{{ craft.wabiClasses.components('profile-container', options) }}">
        {{ wabiComponents({path: '_post-meta/profile-image.twig', image, options}) }}
        {{ wabiComponents({path: '_post-meta/profile-name.twig', name, options}) }}
    </div>
{% endif %}
