{% apply spaceless %}
{% set options = craft.getWabiDefaultSettings.components['post-meta']|merge(options|default({})) %}


{% if tags | length %}
<div class="{{ craft.wabiClasses.components('tags-container', options) }}">
    <strong class="{{ craft.wabiClasses.components('tags-label', options) }}">Tags:</strong>
    <ul class="flex gap-2">
    {% for tag in tags %}
        {{ wabiComponents({path: '_post-meta/tag.twig', tag, options}) }}
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endapply %}
